.page.single-chat {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;

  > .chat-input {
    animation: showItem 0.2s ease-in-out forwards;
    position: absolute;

    padding-bottom: var(--chat-input-bottom-padding);
    bottom: 0;

    background: linear-gradient(
      0deg,
      var(--base-gradient-color-1),
      var(--base-gradient-color-2)
    );
  }

  > .messages-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    > .messages {
      padding-top: var(--header-height);
      display: flex;
      flex-direction: column;
      justify-content: end;
      flex: 1;

      & .scroll-anchor:last-of-type {
        margin-bottom: calc(var(--nav-height) + var(--input-height) - 0.3rem);
      }
    }
  }
}
