.page.single-chat {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  > .messages-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    > .messages {
      padding-top: var(--header-height);
      display: flex;
      flex-direction: column;
      justify-content: end;
      flex: 1;
    }
  }
}