.user-card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  position: relative;

  padding-top: var(--header-height);
  padding-bottom: var(--nav-height);

  height: 100dvh;

  &.show-info {
    > .user-card {
      .user-info {
        opacity: 1;

        > .top {
          pointer-events: auto;
        }

        > .bottom {
          pointer-events: auto;
        }
      }
    }
  }

  > .user-card {
    --text-color: var(--text-bright-color);
    --hr-color: var(--text-color);

    position: relative;
    
    height: 80dvh;
    
    aspect-ratio: 9 / 16;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    pointer-events: none;
    border-radius: 1rem;

    // border: var(--hr-size) var(--hr-pale-bright-color) solid;

    > .user-info {
      // padding: 0.5rem;
      position: absolute;
      top: 0;
      
      height: 100%;

      opacity: 0;
      transition: all 0.3s ease-in-out;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border-radius: 1rem;

      // backdrop-filter: brightness(0.5);

      > .top {
        pointer-events: none;

        padding: 0.75rem 0;

        background: linear-gradient(180deg, #000000D0, transparent);
      }

      > .bottom {
        pointer-events: none;
        background: linear-gradient(0deg, #000000D0, transparent);

        > .hint {
          width: 100%;
          text-align: center;
          // text-wrap: balance;
          opacity: 0.3;
          font-size: var(--person-text-font-size);
          padding: 0.5rem 2rem;
        }
      }
    }
  }
}