.message-wrapper {
  width: 100%;
  padding: 0.3rem 0.5rem;

  display: flex;
  align-items: center;
  justify-content: left;

  &.self {
    justify-content: right;

    > .message-container {
      flex-direction: row-reverse;

      > .message {
        margin-left: auto;
        background: var(--chat-self-message-bg);
        border-bottom-right-radius: 0.2rem;

        > span {
          color: var(--chat-self-message-text-color);
        }
      }
    }
  }

  &.grouped {
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;

    &:not(.self) {
      > .message-container {
        > .message {
          border-top-left-radius: 0.2rem;
        }
      }
    }
    &.self {
      > .message-container {
        > .message {
          border-top-right-radius: 0.2rem;
        }
      }
    }
  }

  &.group-last {
    padding-bottom: 0.3rem;

    &:not(.self) {
      > .message-container {
        > .message {
          border-bottom-right-radius: 1rem;

          &::before {
            content: "";
            /*width: 20px;*/
            /*height: 20px;*/

            /*background-color: var(--chat-message-bg);*/

            position: absolute;

            bottom: 0;
            left: -5px;

            border: transparent 5px solid;
            border-bottom: var(--chat-message-bg) 5px solid;
            border-right: var(--chat-message-bg) 5px solid;
          }
        }
      }
    }
    &.self {
      > .message-container {
        > .message {
          border-bottom-left-radius: 1rem;
          &::before {
            content: "";
            /*width: 20px;*/
            /*height: 20px;*/

            /*background-color: var(--chat-message-bg);*/

            position: absolute;

            bottom: 0;
            right: -5px;

            border: transparent 5px solid;
            border-bottom: var(--chat-message-bg) 5px solid;
            border-left: var(--chat-message-bg) 5px solid;
          }
        }
      }
    }
  }

  &.group-first {
    padding-top: 0.3rem;

    &:not(.self) {
      > .message-container {
        > .message {
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
        }
      }
    }
    &.self {
      > .message-container {
        > .message {
          border-top-right-radius: 1rem;
          border-top-left-radius: 1rem;
        }
      }
    }
  }

  &:not(.self) {
    > .message-container {
      > .message {
        border-bottom-left-radius: 0.2rem;
        background: var(--chat-message-bg);
        margin-right: auto;

        > span {
          color: var(--chat-message-text-color);
        }
      }
    }
  }

  > .message-container {
    position: relative;

    display: flex;
    gap: 0.5rem;

    flex: 1;

    max-width: 90%;

    /*align-items: center;*/

    > .profile-icon {
      width: 40px;
      height: 40px;

      flex-shrink: 0;

      object-fit: cover;

      border-radius: 50%;
      overflow: hidden;

      align-self: flex-end;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    > .message {
      position: relative;
      /*bottom: 0.5rem;*/

      width: fit-content;

      padding: 0.5rem 1rem;

      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;

      font-size: var(--chat-message-font-size);
      font-weight: var(--chat-message-font-weight);

      box-shadow: var(--base-shadow);
    }
  }
}
