html {
  scroll-behavior: smooth;

  font-size: var(--base-font-size);
}

* {
  padding: 0;
  margin: 0;

  border: 0;
  outline: 0;

  box-sizing: border-box;

  color: var(--text-color);

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  background-color: var(--base-bg);

  width: 100%;
  max-width: 100%;
  height: 100dvh;

  overflow: hidden;
}

#root {
  position: relative;

  /*width: 100%;*/
  height: 100dvh;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.page {
  position: relative;

  flex: 1;

  /*padding: 0em 1em 4rem 1em;*/
  padding-bottom: var(--nav-height);
  padding-top: var(--header-height);

  overflow-y: auto;
  overflow-x: hidden;

  scroll-snap-type: y mandatory;
}

.max-width {
  max-width: 500px;
  margin: auto;
}

.snap-start {
  scroll-snap-align: start;
}

.snap-center {
  scroll-snap-align: center;
}

div.small-hor-padding {
  padding: 0 1rem;
}

img {
  object-fit: cover;
}

@keyframes slideOut {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes showItem {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes HideItem {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
