.page-header {
  height: var(--header-height);

  position: fixed;

  height: var(--header-height, 4rem);

  width: 100%;

  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;

  background: linear-gradient(180deg, var(--base-gradient-color-1), var(--base-gradient-color-2));
  
  font-size: calc(var(--header-font-size));
  color: var(--header-text-color);

  > section {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0.5em 0.8em;
    
    &.info {
      justify-content: left;

    }
    
    &.btns {
      justify-content: right;

      > button {
        background-color: transparent;

        > svg {
          --icon-size: 24px;
          --icons-color: var(--header-icons-color);
        }
      }
    }
  }
}