.page-header {
  height: var(--header-height);

  position: fixed;

  height: var(--header-height, 4rem);

  width: 100%;

  top: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;

  
  > .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    
    background: linear-gradient(180deg, var(--base-gradient-color-1), var(--base-gradient-color-2));
    
    width: 100%;
    min-height: 100%;
    height: var(--header-bg-height);

    pointer-events: none;

    z-index: 0;
  }
  
  
  > section {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 0.5em 0.8em;
    gap: 0.5rem;

    z-index: 1;
    
    
    &.info {
      justify-content: left;
      
      > span {
        color: var(--header-text-color);
        font-size: calc(var(--header-font-size));
      }

      > .back-btn {
        background-color: transparent;

        > svg {
          --icon-size: 24px;
          --icons-color: var(--header-icons-color);
        }
      }

    }
    
    &.btns {
      justify-content: right;

      > button {
        background-color: transparent;

        > svg {
          --icon-size: 24px;
          --icons-color: var(--header-icons-color);
        }
      }
    }
  }
}