.nav-panel {
  width: 100%;
  height: var(--nav-height);

  position: fixed;

  bottom: 0;
  z-index: 11;

  display: flex;

  font-size: var(--nav-font-size);

  pointer-events: none;

  animation: 0.2s ease-in-out forwards slideIn;

  &.hide {
    animation: 0.2s ease-in-out forwards slideOut;
  }

  > .nav-bg {
    background: linear-gradient(
      0deg,
      var(--base-gradient-color-1),
      var(--base-gradient-color-2)
    );

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 100%;
    height: var(--nav-bg-height);

    pointer-events: none;

    z-index: 0;
  }

  > nav {
    padding: 1em;

    display: flex;

    flex: 1;
    gap: 1em;

    align-items: center;
    justify-content: center;

    z-index: 1;
  }
}
