.nav-panel {
  width: 100%;
  height: var(--nav-height);

  position: fixed;

  bottom: 0;
  z-index: 11;

  display: flex;

  background: linear-gradient(0deg, var(--base-gradient-color-1), var(--base-gradient-color-2));

  font-size: var(--nav-font-size);

  > nav {
    padding: 1em;

    display: flex;

    flex: 1;
    gap: 1em;

    align-items: center;
    justify-content: center;

  }

  
}
