.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0.8rem;
  overflow: hidden;
  width: 100%;

  .input-label {
    font-size: var(--input-label-font-size);
    // flex: 1;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;

    display: -moz-box;
    display: -webkit-box;

    line-clamp: 1;
    -webkit-line-clamp: 1;

    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 0.5;
  }

  .input-and-btn {
    display: flex;

    // overflow: hidden;

    background: var(--input-bg);

    border-radius: 0.75em 1.5em 1.5em 0.75em;

    font-size: var(--input-font-size);

    max-height: 3em;
    align-items: center;

    box-shadow: var(--base-shadow);

    input {
      padding: 1em;

      flex: 1;

      border-radius: 0.5em;

      background-color: transparent;

      color: var(--input-text-color);
    }

    button {
      position: absolute;

      flex-shrink: 0;

      height: 4em;
      width: 4em;

      right: 1em;

      border-radius: 50%;

      background-color: var(--input-button-bg-color);

      box-shadow: var(--base-shadow);

      display: flex;
      align-items: center;
      justify-content: center;
      
      --icons-color: var(--icons-bright-color);

      > svg {
        --icon-size: 10px;

        opacity: 0;

        pointer-events: none;

        transition: all 0.3s var(--bounce-animation);

        &.visible {
          --icon-size: 30px;

          opacity: 1;

          pointer-events: all;

          position: absolute;
        }
      }
    }
  }
}
