.nav-item {
  user-select: none;

  position: relative;

  display: flex;
  flex-direction: column;

  gap: 0.2em;

  align-items: center;
  justify-content: center;

  flex: 1;

  cursor: pointer;

  opacity: 0.3;

  transition: all ease-in-out 0.25s;

  pointer-events: all;

  --text-color: var(--nav-text-color);
  --icons-color: var(--nav-icons-color);

  > span {
    transition: all ease-in-out 0.1s;
  }

  > svg {
    /*--icon-size: 36px;*/

    > path {
      transition: all ease-in-out 0.1s;
    }
  }

  &:hover {
    /*--icons-color: var(--nav-icons-color);*/
    /*--text-color: var(--nav-text-color);*/
    --icons-color: var(--nav-selected-icons-color);
    --text-color: var(--nav-selected-text-color);

    opacity: 0.75;
  }

  &.selected {
    --icons-color: var(--nav-selected-icons-color);
    --text-color: var(--nav-selected-text-color);

    opacity: 1;
  }
}
