* {
  &.profile-image-wrapper {
    flex: 0 0 auto;
    /*padding: 0.25rem;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease-in-out;

    &.selected {
      filter: brightness(1);
    }
  }

  &.own {
    .profile-image {
      filter: brightness(0.25);
      img {
        height: 92%;
      }
    }
  }

  > .profile-image {
    position: relative;
    min-width: fit-content;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    height: 100%;
    filter: brightness(1);

    &.selected {
      filter: brightness(1);
      height: 100%;
      img {
        height: 100%;
      }
    }

    > .image {
      display: block;
      aspect-ratio: 9/16;
      /*width: 100%;*/
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      /*transform: scale(0.8);*/
    }
  }
}
